#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// Layer Definitions
#define QWERTY 0
#define NAV 1
#define SYM 2
#define FUN 3

// Desktop and tab navigation shortcuts
#define D_LT   LC(LG(LEFT))
#define D_RT   LC(LG(RIGHT))
#define TAB_RT LC(TAB)
#define TAB_LT LC(LS(TAB))

#include "combos.dtsi"

// Behavior configuration
&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

// Keymap configuration
/ {
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        as: alpha_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_SFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // Easy alt-tab with alt+backspace thumb using mod-morphs
        bstab: backspace_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_TAB";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp TAB>;
            mods = <MOD_LALT>;
        };
        lt_bspc: layer_tap_backspace_tab {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_BT";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&bstab>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
&trans      &kp Q       &kp W       &kp E          &kp R          &kp T                &kp Y          &kp U         &kp I          &kp O         &kp P          &trans
&trans      &kp A       &kp S       &kp D          &kp F          &kp G                &kp H          &kp J         &kp K          &kp L         &kp SEMI       &trans
&trans      &kp Z       &kp X       &kp C          &kp V          &kp B                &kp N          &kp M         &kp CMMA       &kp DOT       &lt FUN FSLH   &trans
                                &mt LGUI ESC  &mt RSHFT TAB  &lt SYM SPACE    &lt_bspc NAV 0 &mt LCTRL RET &mt RALT DEL
            >;
        };

        navigation {
            bindings = <
&trans  &none       &none        &none         &none         &kp C_VOL_UP       &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &none         &trans
&trans  &kp LGUI    &kp LALT     &kp LCTRL     &am LSHFT TAB &kp C_VOL_DN       &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none         &trans
&trans  &none       &none        &none         &none         &none              &kp INS       &kp DEL       &none         &none         &none         &none
                                &kp LGUI      &kp LSHFT     &trans        &trans        &kp LCTRL     &kp RALT
            >;
        };

        symbols {
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &kp BSLH      &kp N7        &kp N8        &kp N9        &kp COMMA    &trans
&trans  &kp PLUS      &kp EQUAL     &kp UNDER     &kp MINUS     &kp CARET     &kp N0        &kp N4        &kp N5        &kp N6        &kp DOT      &trans
&trans  &none         &kp DQT       &kp SQT       &kp STAR      &kp AMPS      &kp SEMI      &kp N1        &kp N2        &kp N3        &kp SLASH    &trans
                             &kp LGUI      &kp LSHFT  &kp SPACE                &trans        &kp LCTRL     &kp RALT
            >;
        };

        function {
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5               &kp CAPS      &none         &none         &none          &none        &trans
&trans  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10              &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4 &trans
&trans  &none         &kp D_LT      &kp D_RT      &kp F11       &kp F12              &out OUT_USB  &out OUT_BLE  &kp PSCRN     &kp PAUSE_BREAK &bt BT_CLR  &trans
                         &bootloader   &reset        &trans            &trans        &reset        &bootloader
            >;
        };
    };
};
